@import '../base/variables';

.imagenes-sesiones{
    display: flex;
    flex-direction: column;

    img{
        padding-bottom: 20px;
        border-radius: 3rem;
        transition: all 2s;
    }
    img:hover{
        transform: scale(1.5);
    }
}

@media screen and (min-width: 320px){
    .imagenes-sesiones{
        display: flex;
        flex-direction: column;
    } 
}

@media screen and (min-width: 480px){
    .imagenes-sesiones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        
        img{
            padding-bottom: 20px;
            border-radius: 3rem;  
        }
        
    }
}