@import '../base/variables';

.imagenes-sesiones{
    display: flex;
    flex-direction: column;

    img{
       
        padding-bottom: 20px;
        border-radius: 2.5rem;
        transition: all 2s;
    }
    img:hover{
        transform: scale(1.5);
    }
}

@media screen and (min-width: 320px){
    .imagenes-sesiones{
        display: flex;
        flex-direction: column;

        img{
            width: auto;
            border-radius: 2.5rem;
            padding: 0 10px 20px 10px;
        }
    } 
}

@media screen and (min-width: 480px){
    .imagenes-sesiones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        align-items:center;
        
        img{
            width: 80px;
            padding: 0 10px 20px 10px;
            border-right: 10px ;
            border-radius: 2.5rem;  
        }
        
    }
}

@media screen and (min-width: 600px){
    .imagenes-sesiones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        
        img{
            width: 100px;
            padding: 0 20px 20px 20px;
            border-radius: 2.5rem;  
        }
        
    }
}

@media screen and (min-width: 800px){
    .imagenes-sesiones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        
        img{
            width: 180px;
            padding: 0 15px 20px 15px;
            border-radius: 3rem;  
        }
        
    }
}