    
    
$fuentePrincipal: 'Ubuntu', sans-serif;
$fuenteParrafo:    'Raleway', sans-serif;

$Primario: #1C658C;
$Secundario:#398AB9;
$letraPrimario: #D8D2CB;
$negro: #000000;
$blanco: #ffffff;

$desktop: 480px;
$tablet: 320px;
